## Data Processing notebook

* [Introduction](#chapter1)
* [Import libraries](#chapter2)
* [Data processing](#chapter3)
    * [Copernicus Air Quality data processing](#section_1)
        * [2019 air quality data](#section_1_1)
        * [2020 air quality data](#section_1_2)
        * [Combine 2019 and 2020 air quality data](#section_1_3)
        * [Calculate difference in percentage comparing 2020 and 2019](#section_1_4)
        
    * [Google mobility data processing](#section_2)
    * [ESA air traffic data processing](#section_3)
        * [Calculate difference in percentage comparing 2020 and 2019](#section_3_1)
    * [ESA maritime traffic data processing](#section_4)
        * [Calculate difference in percentage comparing 2020 and 2019](#section_4_1)
* [Combined processed data into final matrix](#chapter4)

## Introduction <a class="anchor" id="chapter1"></a>

This notebook performs the following tasks:

- imports all libraries needed for data processing
- reads data from the github repository
- extracts relevant data for the investigation
- forms the matrix to be utilized to compose the composite index
- exports the matrix to be processed by the composite index notebook

## Import libraries <a class="anchor" id="chapter2"></a>

In [1]:
import pandas as pd

## Data processing <a class="anchor" id="chapter3"></a>

### Copernicus Air Quality data processing <a class="anchor" id="section_1"></a>

#### 2019 air quality data <a class="anchor" id="section_1_1"></a>

In [99]:
# url stored in the github repository 
# Copernicus air quality data 
url_air_quality_2019 = "https://raw.githubusercontent.com/IacopoTesti/Sustainable_Business_Activity_Covid19/main/Data_sources/Copernicus_AirQuality_data/cams_air_quality_analysis_2019.csv"

# read csv as dataframe
df_air_quality_2019 = pd.read_csv(url_air_quality_2019, sep = ",", error_bad_lines=False)

# print first 5 lines
print(df_air_quality_2019.dtypes)
print(df_air_quality_2019.head())

basetime     object
city_id      object
NO2         float64
O3          float64
PM10        float64
PM2.5       float64
dtype: object
     basetime city_id    NO2     O3   PM10  PM2.5
0  2019-01-01   AQ001  11.44  58.45  16.48   8.32
1  2019-01-01   AQ002  31.17  43.61  25.82  23.21
2  2019-01-01   AQ003  13.54  59.26   5.77   4.11
3  2019-01-01   AQ004  40.03  26.76  16.59  12.59
4  2019-01-01   AQ005  19.24  26.42  23.58  20.31

In [100]:
# convert the basetime column into datetime
df_air_quality_2019['basetime']= pd.to_datetime(df_air_quality_2019['basetime'])
# extract rows with AQ025 which stands for Milan
only_milan_air_quality_2019 = df_air_quality_2019[df_air_quality_2019['city_id'] == "AQ025"]

In [101]:
print(df_air_quality_2019.dtypes)

basetime    datetime64[ns]
city_id             object
NO2                float64
O3                 float64
PM10               float64
PM2.5              float64
dtype: object

In [102]:
# resample monthly the dataframe
monthly_milan_air_quality_2019 = only_milan_air_quality_2019.resample('M', on='basetime').mean()
# convert index column into column
monthly_milan_air_quality_2019.reset_index(level=0, inplace=True)
# eliminate days from the basetime column
monthly_milan_air_quality_2019['basetime'] = monthly_milan_air_quality_2019['basetime'].dt.strftime('%Y-%m')
# rename all columns 
monthly_milan_air_quality_2019.columns = ['basetime_2019', 'NO2_2019', 'O3_2019', 'PM10_2019', 'PM2.5_2019']
# print first 5 lines of the dataset
monthly_milan_air_quality_2019.head()

  basetime_2019   NO2_2019    O3_2019  PM10_2019  PM2.5_2019
0       2019-01  45.124839  17.194194  25.657419   22.191290
1       2019-02  55.310000  18.075000  41.643214   37.049286
2       2019-03  40.487419  40.427097  24.883548   21.076129
3       2019-04  32.856000  53.659000  25.348333   22.353000
4       2019-05  28.177097  57.105161  16.824194   14.524839

#### 2020 air quality data <a class="anchor" id="section_1_2"></a>

In [103]:
# url stored in the github repository 
# Copernicus air quality data 
url_air_quality_2020 = "https://raw.githubusercontent.com/IacopoTesti/Sustainable_Business_Activity_Covid19/main/Data_sources/Copernicus_AirQuality_data/cams_air_quality_analysis_2020.csv"

# read csv as dataframe
df_air_quality_2020 = pd.read_csv(url_air_quality_2020, sep = ",", error_bad_lines=False)

# print first 5 lines
print(df_air_quality_2020.dtypes)
print(df_air_quality_2020.head())

basetime     object
city_id      object
NO2         float64
O3          float64
PM10        float64
PM2.5       float64
dtype: object
     basetime city_id    NO2     O3   PM10  PM2.5
0  2020-01-01   AQ001  34.81   9.18  33.83  29.49
1  2020-01-01   AQ002  18.88  29.20  22.01  18.55
2  2020-01-01   AQ003  19.87  50.75  11.83   8.80
3  2020-01-01   AQ004  25.80  14.12  32.91  26.45
4  2020-01-01   AQ005  13.96  19.42  36.61  26.79

In [104]:
# convert the basetime column into datetime
df_air_quality_2020['basetime']= pd.to_datetime(df_air_quality_2020['basetime'])
# extract rows with AQ025 which stands for Milan
only_milan_air_quality_2020 = df_air_quality_2020[df_air_quality_2020['city_id'] == "AQ025"]
# print dataframe data types
print(df_air_quality_2020.dtypes)

basetime    datetime64[ns]
city_id             object
NO2                float64
O3                 float64
PM10               float64
PM2.5              float64
dtype: object

In [105]:
# resample monthly the dataframe
monthly_milan_air_quality_2020 = only_milan_air_quality_2020.resample('M', on='basetime').mean()
# convert index column into column
monthly_milan_air_quality_2020.reset_index(level=0, inplace=True)
# eliminate days from the basetime column
monthly_milan_air_quality_2020['basetime'] = monthly_milan_air_quality_2020['basetime'].dt.strftime('%Y-%m')
# rename all columns 
monthly_milan_air_quality_2020.columns = ['basetime_2020', 'NO2_2020', 'O3_2020', 'PM10_2020', 'PM2.5_2020']
# print first 5 lines of the dataset
monthly_milan_air_quality_2020.head()

  basetime_2020   NO2_2020    O3_2020  PM10_2020  PM2.5_2020
0       2020-01  62.986452   6.857742  46.232581   40.189032
1       2020-02  47.545517  25.663103  34.236897   30.491379
2       2020-03  36.871290  40.055484  32.179355   27.612258
3       2020-04  30.823333  63.455667  30.245667   25.479667
4       2020-05  22.381935  68.400645  15.785161   12.992581

#### Combine 2019 and 2020 air quality data <a class="anchor" id="section_1_3"></a>

In [106]:
# combine datasets by index
milan_air_quality_2019_2020 = pd.merge(monthly_milan_air_quality_2019, monthly_milan_air_quality_2020, left_index=True, right_index=True)
milan_air_quality_2019_2020.head()

,basetime_2019,NO2_2019,O3_2019,PM10_2019,PM2.5_2019,basetime_2020,NO2_2020,O3_2020,PM10_2020,PM2.5_2020
0,2019-01,45.124839,17.194194,25.657419,22.191290,2020-01,62.986452,6.857742,46.232581,40.189032
1,2019-02,55.310000,18.075000,41.643214,37.049286,2020-02,47.545517,25.663103,34.236897,30.491379
2,2019-03,40.487419,40.427097,24.883548,21.076129,2020-03,36.871290,40.055484,32.179355,27.612258
3,2019-04,32.856000,53.659000,25.348333,22.353000,2020-04,30.823333,63.455667,30.245667,25.479667
4,2019-05,28.177097,57.105161,16.824194,14.524839,2020-05,22.381935,68.400645,15.785161,12.992581

#### Calculate difference in percentage comparing 2020 and 2019 <a class="anchor" id="section_1_4"></a>

In [107]:
# this block computes the difference between 2020 and 2019 air quality in percentage 
# the formulas are beneath
# increase or decrease = new number - original number
# % increase = Increase ÷ Original Number × 100
milan_air_quality_2019_2020['perc_pm2.5_compared2019'] = ((milan_air_quality_2019_2020['PM2.5_2020'] - milan_air_quality_2019_2020['PM2.5_2019']) / milan_air_quality_2019_2020['PM2.5_2020']) * 100
milan_air_quality_2019_2020['perc_pm10_compared2019'] = ((milan_air_quality_2019_2020['PM10_2020'] - milan_air_quality_2019_2020['PM10_2019']) / milan_air_quality_2019_2020['PM10_2020']) * 100
milan_air_quality_2019_2020['perc_NO2_compared2019'] = ((milan_air_quality_2019_2020['NO2_2020'] - milan_air_quality_2019_2020['NO2_2019']) / milan_air_quality_2019_2020['NO2_2020']) * 100

# select only columns needed
milan_air_quality_2019_2020 = milan_air_quality_2019_2020[['basetime_2020','perc_pm2.5_compared2019', 'perc_pm10_compared2019', 'perc_NO2_compared2019']]

In [108]:
# drop first row of the dataset
milan_air_quality_2019_2020 = milan_air_quality_2019_2020.iloc[1: , :]
# reset index
milan_air_quality_2019_2020.reset_index(drop=True)

# print dataset
milan_air_quality_2019_2020.head(20)

,basetime_2020,perc_pm2.5_compared2019,perc_pm10_compared2019,perc_NO2_compared2019
1,2020-02,-21.507411,-21.632562,-16.330631
2,2020-03,23.671114,22.672320,-9.807438
3,2020-04,12.271223,16.191851,-6.594571
4,2020-05,-11.793331,-6.582335,-25.892137
5,2020-06,-53.911487,-76.508051,-14.939347
6,2020-07,-28.266812,-44.491103,0.494267
7,2020-08,-22.101482,-27.573953,-1.458524
8,2020-09,12.765671,3.012013,5.514540
9,2020-10,14.178081,7.034996,8.655441
10,2020-11,65.962225,66.033506,12.950690
11,2020-12,32.546824,31.557383,-19.951608

### Google mobility data processing <a class="anchor" id="section_2"></a>

#### 2020 mobility data <a class="anchor" id="section_2_1"></a>

In [40]:
# url stored in the github repository 
# google mobility data data 
url_mobility_data_2020 = "https://raw.githubusercontent.com/IacopoTesti/Sustainable_Business_Activity_Covid19/main/Data_sources/Google_mobility_data/2020_IT_Region_Mobility_Report.csv"

# read csv as dataframe
df_mobility_data_2020 = pd.read_csv(url_mobility_data_2020, sep = ",", error_bad_lines=False)

# print first 5 lines
print(df_mobility_data_2020.dtypes)
df_mobility_data_2020.head()

country_region_code                                    object
country_region                                         object
sub_region_1                                           object
sub_region_2                                           object
metro_area                                            float64
iso_3166_2_code                                        object
census_fips_code                                      float64
place_id                                               object
date                                                   object
retail_and_recreation_percent_change_from_baseline    float64
grocery_and_pharmacy_percent_change_from_baseline     float64
parks_percent_change_from_baseline                    float64
transit_stations_percent_change_from_baseline         float64
workplaces_percent_change_from_baseline               float64
residential_percent_change_from_baseline              float64
dtype: object

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,IT,Italy,NaN,NaN,NaN,NaN,NaN,ChIJA9KNRIL-1BIRb15jJFz1LOI,2020-02-15,3.0,-1.0,35.0,9.0,0.0,-1.0
1,IT,Italy,NaN,NaN,NaN,NaN,NaN,ChIJA9KNRIL-1BIRb15jJFz1LOI,2020-02-16,3.0,2.0,26.0,11.0,1.0,-2.0
2,IT,Italy,NaN,NaN,NaN,NaN,NaN,ChIJA9KNRIL-1BIRb15jJFz1LOI,2020-02-17,0.0,1.0,7.0,3.0,1.0,0.0
3,IT,Italy,NaN,NaN,NaN,NaN,NaN,ChIJA9KNRIL-1BIRb15jJFz1LOI,2020-02-18,3.0,1.0,16.0,4.0,1.0,0.0
4,IT,Italy,NaN,NaN,NaN,NaN,NaN,ChIJA9KNRIL-1BIRb15jJFz1LOI,2020-02-19,0.0,-1.0,11.0,3.0,1.0,0.0

In [41]:
# select only columns needed
df_mobility_data_2020 = df_mobility_data_2020[['date','sub_region_1', 'retail_and_recreation_percent_change_from_baseline', 'transit_stations_percent_change_from_baseline', 'workplaces_percent_change_from_baseline']]
# rename columns 
df_mobility_data_2020.columns = ['date','region', 'retail_and_recreation', 'transit_stations', 'workplaces']
# convert the date column into datetime
df_mobility_data_2020['date']= pd.to_datetime(df_mobility_data_2020['date'])
# print first five lines
df_mobility_data_2020.tail(100)

            date  region  retail_and_recreation  transit_stations  workplaces
40664 2020-09-23  Veneto                   -8.0             -10.0       -17.0
40665 2020-09-24  Veneto                  -11.0              -8.0       -17.0
40666 2020-09-25  Veneto                  -11.0             -11.0       -19.0
40667 2020-09-26  Veneto                  -10.0              -5.0       -13.0
40668 2020-09-27  Veneto                  -18.0             -16.0        -3.0
...          ...     ...                    ...               ...         ...
40759 2020-12-27  Veneto                  -77.0             -64.0       -28.0
40760 2020-12-28  Veneto                  -57.0             -61.0       -57.0
40761 2020-12-29  Veneto                  -37.0             -59.0       -51.0
40762 2020-12-30  Veneto                  -32.0             -56.0       -50.0
40763 2020-12-31  Veneto                  -57.0             -67.0       -70.0

[100 rows x 5 columns]

In [49]:
# extract lombardy and liguria
north_regions_mobility_data_2020 = df_mobility_data_2020[
                (df_mobility_data_2020['region'] == "Lombardy") | 
                (df_mobility_data_2020['region'] == "Liguria") |
                (df_mobility_data_2020['region'] == "Emilia-Romagna")
                    ]
north_regions_mobility_data_2020.head()

,date,region,retail_and_recreation,transit_stations,workplaces
9309,2020-02-15,Emilia-Romagna,5.0,7.0,1.0
9310,2020-02-16,Emilia-Romagna,1.0,5.0,0.0
9311,2020-02-17,Emilia-Romagna,1.0,5.0,4.0
9312,2020-02-18,Emilia-Romagna,1.0,2.0,1.0
9313,2020-02-19,Emilia-Romagna,1.0,2.0,1.0

In [50]:
# resample monthly the dataframe
north_regions_monthly_mobility_data_2020 = north_regions_mobility_data_2020.resample('M', on='date').mean()
north_regions_monthly_mobility_data_2020

# convert index column into column
north_regions_monthly_mobility_data_2020.reset_index(level=0, inplace=True)
# eliminate days from the basetime column
north_regions_monthly_mobility_data_2020['date'] = north_regions_monthly_mobility_data_2020['date'].dt.strftime('%Y-%m')
# print first five lines
north_regions_monthly_mobility_data_2020

       date  retail_and_recreation  transit_stations  workplaces
0   2020-02              -6.023810         -9.378571   -7.011905
1   2020-03             -63.338710        -64.263825  -47.138249
2   2020-04             -83.694048        -78.290476  -62.526190
3   2020-05             -52.165899        -51.691244  -35.830645
4   2020-06             -17.644048        -28.172619  -23.433333
5   2020-07              -6.339862        -16.920507  -17.975806
6   2020-08              -4.294931        -12.235294  -29.009217
7   2020-09              -5.321429        -13.026474  -17.238095
8   2020-10             -16.019585        -17.813364  -15.078341
9   2020-11             -42.595238        -45.077381  -27.160714
10  2020-12             -34.419355        -45.600230  -32.938940

### ESA air traffic data processing <a class="anchor" id="section_3"></a>

In [157]:
url_air_traffic_data = "https://raw.githubusercontent.com/IacopoTesti/Sustainable_Business_Activity_Covid19/main/Data_sources/ESA_flying_airplanes/Milan_airports.csv"

# read csv as dataframe
df_air_traffic_data_2020 = pd.read_csv(url_air_traffic_data, sep = ",", error_bad_lines=False)

# print first 5 lines
print(df_air_traffic_data_2020.dtypes)
df_air_traffic_data_2020.head()

time               object
aoi                object
measurement       float64
indicatorValue     object
referenceTime      object
dataProvider       object
eoSensor           object
colorCode          object
inputData          object
dtype: object

,time,aoi,measurement,indicatorValue,referenceTime,dataProvider,eoSensor,colorCode,inputData
0,2018-07-01T00:00:00.000Z,"LatLng(45.629959, 8.723056)",7.602525,Normal,2019-01-01T00:00:00.000Z,NTNU-USF-UTFPR,Sentinel 2,BLUE,/
1,2018-08-01T00:00:00.000Z,"LatLng(45.629959, 8.723056)",7.719444,Normal,2019-01-01T00:00:00.000Z,NTNU-USF-UTFPR,Sentinel 2,BLUE,/
2,2018-09-01T00:00:00.000Z,"LatLng(45.629959, 8.723056)",8.630303,Normal,2019-01-01T00:00:00.000Z,NTNU-USF-UTFPR,Sentinel 2,BLUE,/
3,2018-10-01T00:00:00.000Z,"LatLng(45.629959, 8.723056)",6.894444,Normal,2019-01-01T00:00:00.000Z,NTNU-USF-UTFPR,Sentinel 2,BLUE,/
4,2018-11-01T00:00:00.000Z,"LatLng(45.629959, 8.723056)",6.500000,Normal,2019-01-01T00:00:00.000Z,NTNU-USF-UTFPR,Sentinel 2,BLUE,/

In [158]:
# select only columns needed
df_air_traffic_data_2020 = df_air_traffic_data_2020[['time','measurement']]
# add column with reference values (collected by the ESA RACE website)
df_air_traffic_data_2020['reference_value'] = 7.608
df_air_traffic_data_2020.head()

                       time  measurement  reference_value
0  2018-07-01T00:00:00.000Z     7.602525            7.608
1  2018-08-01T00:00:00.000Z     7.719444            7.608
2  2018-09-01T00:00:00.000Z     8.630303            7.608
3  2018-10-01T00:00:00.000Z     6.894444            7.608
4  2018-11-01T00:00:00.000Z     6.500000            7.608

In [159]:
# convert the date column into datetime
df_air_traffic_data_2020['time'] = pd.to_datetime(df_air_traffic_data_2020['time'])
# resample monthly the dataframe
df_air_traffic_data_2020 = df_air_traffic_data_2020.resample('M', on='time').mean()
# convert index column into column
df_air_traffic_data_2020.reset_index(level=0, inplace=True)
# eliminate days from the basetime column
df_air_traffic_data_2020['time'] = df_air_traffic_data_2020['time'].dt.strftime('%Y-%m')

df_air_traffic_data_2020.head(5)

      time  measurement  reference_value
0  2018-07     7.602525            7.608
1  2018-08     7.719444            7.608
2  2018-09     8.630303            7.608
3  2018-10     6.894444            7.608
4  2018-11     6.500000            7.608

In [160]:
df_air_traffic_data_2020 = df_air_traffic_data_2020.iloc[19:]
df_air_traffic_data_2020 = df_air_traffic_data_2020.iloc[:-2]
df_air_traffic_data_2020

       time  measurement  reference_value
19  2020-02     4.595238            7.608
20  2020-03     4.166667            7.608
21  2020-04     0.994048            7.608
22  2020-05     0.958333            7.608
23  2020-06     3.416270            7.608
24  2020-07     3.142172            7.608
25  2020-08     3.951190            7.608
26  2020-09     3.547222            7.608
27  2020-10     2.916667            7.608
28  2020-11     2.238889            7.608
29  2020-12     0.000000            7.608

#### Calculate difference in percentage comparing 2020 and 2019 <a class="anchor" id="section_3_1"></a>

In [161]:
# this block computes the difference between 2020 and 2019 air quality in percentage 
# the formulas are beneath
# increase or decrease = new number - original number
# % increase = Increase ÷ Original Number × 100
df_air_traffic_data_2020['perc_flying_airplanes'] = ((df_air_traffic_data_2020['measurement'] - df_air_traffic_data_2020['reference_value']) / df_air_traffic_data_2020['reference_value']) * 100
df_air_traffic_data_2020

       time  measurement  reference_value  perc_flying_airplanes
19  2020-02     4.595238            7.608             -39.599920
20  2020-03     4.166667            7.608             -45.233088
21  2020-04     0.994048            7.608             -86.934180
22  2020-05     0.958333            7.608             -87.403610
23  2020-06     3.416270            7.608             -55.096348
24  2020-07     3.142172            7.608             -58.699110
25  2020-08     3.951190            7.608             -48.065320
26  2020-09     3.547222            7.608             -53.375102
27  2020-10     2.916667            7.608             -61.663162
28  2020-11     2.238889            7.608             -70.571913
29  2020-12     0.000000            7.608            -100.000000

In [162]:
# select only columns needed
df_air_traffic_data_2020 = df_air_traffic_data_2020[['time','perc_flying_airplanes']]
df_air_traffic_data_2020

       time  perc_flying_airplanes
19  2020-02             -39.599920
20  2020-03             -45.233088
21  2020-04             -86.934180
22  2020-05             -87.403610
23  2020-06             -55.096348
24  2020-07             -58.699110
25  2020-08             -48.065320
26  2020-09             -53.375102
27  2020-10             -61.663162
28  2020-11             -70.571913
29  2020-12            -100.000000

### ESA maritime traffic data processing <a class="anchor" id="section_4"></a>

In [175]:
url_maritime_traffic_data = "https://raw.githubusercontent.com/IacopoTesti/Sustainable_Business_Activity_Covid19/main/Data_sources/ESA_maritime_traffic/Genoa_ships_cargo.csv"

# read csv as dataframe
df_maritime_traffic_data_2020 = pd.read_csv(url_maritime_traffic_data, sep = ";", error_bad_lines=False)

In [176]:
# print first 5 lines
print(df_maritime_traffic_data_2020.dtypes)
df_maritime_traffic_data_2020.head()

time                 object
aoi                  object
measurement_2020      int64
indicatorValue      float64
referenceTime        object
measurement_2019      int64
dataProvider         object
eoSensor             object
colorCode            object
inputData            object
dtype: object

,time,aoi,measurement_2020,indicatorValue,referenceTime,measurement_2019,dataProvider,eoSensor,colorCode,inputData
0,2020-02-01T00:00:00.000Z,"LatLng(44.405723, 8.933642)",272,NaN,2019-02-01T00:00:00.000Z,227,e-GEOS,AIS,PRIMARY,AIS
1,2020-02-15T00:00:00.000Z,"LatLng(44.405723, 8.933642)",290,NaN,2019-02-15T00:00:00.000Z,252,e-GEOS,AIS,PRIMARY,AIS
2,2020-03-01T00:00:00.000Z,"LatLng(44.405723, 8.933642)",283,NaN,2019-03-01T00:00:00.000Z,282,e-GEOS,AIS,PRIMARY,AIS
3,2020-03-15T00:00:00.000Z,"LatLng(44.405723, 8.933642)",280,NaN,2019-03-15T00:00:00.000Z,326,e-GEOS,AIS,PRIMARY,AIS
4,2020-04-01T00:00:00.000Z,"LatLng(44.405723, 8.933642)",215,NaN,2019-04-01T00:00:00.000Z,263,e-GEOS,AIS,PRIMARY,AIS

In [177]:
# select only columns needed
df_maritime_traffic_data_2020 = df_maritime_traffic_data_2020[['time','measurement_2020','measurement_2019']]
# convert the date column into datetime
df_maritime_traffic_data_2020['time'] = pd.to_datetime(df_maritime_traffic_data_2020['time'])
# resample monthly the dataframe
df_maritime_traffic_data_2020 = df_maritime_traffic_data_2020.resample('M', on='time').mean()
# convert index column into column
df_maritime_traffic_data_2020.reset_index(level=0, inplace=True)
# eliminate days from the basetime column
df_maritime_traffic_data_2020['time'] = df_maritime_traffic_data_2020['time'].dt.strftime('%Y-%m')

df_maritime_traffic_data_2020

      time  measurement_2020  measurement_2019
0  2020-02             281.0             239.5
1  2020-03             281.5             304.0
2  2020-04             241.0             288.5
3  2020-05             236.5             315.0

#### Calculate difference in percentage comparing 2020 and 2019 <a class="anchor" id="section_4_1"></a>

In [179]:
# this block computes the difference between 2020 and 2019 air quality in percentage 
# the formulas are beneath
# increase or decrease = new number - original number
# % increase = Increase ÷ Original Number × 100
df_maritime_traffic_data_2020['perc_ships'] = ((df_maritime_traffic_data_2020['measurement_2020'] - df_maritime_traffic_data_2020['measurement_2019']) / df_maritime_traffic_data_2020['measurement_2019']) * 100
df_maritime_traffic_data_2020

      time  measurement_2020  measurement_2019  perc_ships
0  2020-02             281.0             239.5   17.327766
1  2020-03             281.5             304.0   -7.401316
2  2020-04             241.0             288.5  -16.464471
3  2020-05             236.5             315.0  -24.920635

In [180]:
# select only columns needed
df_maritime_traffic_data_2020 = df_maritime_traffic_data_2020[['time','perc_ships']]
df_maritime_traffic_data_2020

      time  perc_ships
0  2020-02   17.327766
1  2020-03   -7.401316
2  2020-04  -16.464471
3  2020-05  -24.920635

### Combined processed data into final matrix <a class="anchor" id="chapter4"></a>

In [189]:
dfinal_1 = milan_air_quality_2019_2020.merge(north_regions_monthly_mobility_data_2020, how = 'inner', left_on='basetime_2020', right_on='date')
dfinal_2 = dfinal_1.merge(df_air_traffic_data_2020 , how = 'inner', left_on='basetime_2020', right_on='time')
dfinal_3 = dfinal_2.merge(df_maritime_traffic_data_2020 , how = 'outer', left_on='basetime_2020', right_on='time')

dfinal_3

,basetime_2020,perc_pm2.5_compared2019,perc_pm10_compared2019,perc_NO2_compared2019,date,retail_and_recreation,transit_stations,workplaces,time_x,perc_flying_airplanes,time_y,perc_ships
0,2020-02,-21.507411,-21.632562,-16.330631,2020-02,-6.023810,-9.378571,-7.011905,2020-02,-39.599920,2020-02,17.327766
1,2020-03,23.671114,22.672320,-9.807438,2020-03,-63.338710,-64.263825,-47.138249,2020-03,-45.233088,2020-03,-7.401316
2,2020-04,12.271223,16.191851,-6.594571,2020-04,-83.694048,-78.290476,-62.526190,2020-04,-86.934180,2020-04,-16.464471
3,2020-05,-11.793331,-6.582335,-25.892137,2020-05,-52.165899,-51.691244,-35.830645,2020-05,-87.403610,2020-05,-24.920635
4,2020-06,-53.911487,-76.508051,-14.939347,2020-06,-17.644048,-28.172619,-23.433333,2020-06,-55.096348,NaN,NaN
5,2020-07,-28.266812,-44.491103,0.494267,2020-07,-6.339862,-16.920507,-17.975806,2020-07,-58.699110,NaN,NaN
6,2020-08,-22.101482,-27.573953,-1.458524,2020-08,-4.294931,-12.235294,-29.009217,2020-08,-48.065320,NaN,NaN
7,2020-09,12.765671,3.012013,5.514540,2020-09,-5.321429,-13.026474,-17.238095,2020-09,-53.375102,NaN,NaN
8,2020-10,14.178081,7.034996,8.655441,2020-10,-16.019585,-17.813364,-15.078341,2020-10,-61.663162,NaN,NaN
9,2020-11,65.962225,66.033506,12.950690,2020-11,-42.595238,-45.077381,-27.160714,2020-11,-70.571913,NaN,NaN
10,2020-12,32.546824,31.557383,-19.951608,2020-12,-34.419355,-45.600230,-32.938940,2020-12,-100.000000,NaN,NaN

In [192]:
# drop all columns not needed
final_matrix = dfinal_3.drop(['date', 'time_x', 'time_y'], axis = 1)
# rename columns 
final_matrix.columns = ['time','perc_pm2.5', 'perc_pm10', 'perc_NO2', 'perc_retail', 'perc_stations', 'perc_workplaces', 'perc_airplanes', 'perc_ships']

final_matrix

,time,perc_pm2.5,perc_pm10,perc_NO2,perc_retail,perc_stations,perc_workplaces,perc_airplanes,perc_ships
0,2020-02,-21.507411,-21.632562,-16.330631,-6.023810,-9.378571,-7.011905,-39.599920,17.327766
1,2020-03,23.671114,22.672320,-9.807438,-63.338710,-64.263825,-47.138249,-45.233088,-7.401316
2,2020-04,12.271223,16.191851,-6.594571,-83.694048,-78.290476,-62.526190,-86.934180,-16.464471
3,2020-05,-11.793331,-6.582335,-25.892137,-52.165899,-51.691244,-35.830645,-87.403610,-24.920635
4,2020-06,-53.911487,-76.508051,-14.939347,-17.644048,-28.172619,-23.433333,-55.096348,NaN
5,2020-07,-28.266812,-44.491103,0.494267,-6.339862,-16.920507,-17.975806,-58.699110,NaN
6,2020-08,-22.101482,-27.573953,-1.458524,-4.294931,-12.235294,-29.009217,-48.065320,NaN
7,2020-09,12.765671,3.012013,5.514540,-5.321429,-13.026474,-17.238095,-53.375102,NaN
8,2020-10,14.178081,7.034996,8.655441,-16.019585,-17.813364,-15.078341,-61.663162,NaN
9,2020-11,65.962225,66.033506,12.950690,-42.595238,-45.077381,-27.160714,-70.571913,NaN
10,2020-12,32.546824,31.557383,-19.951608,-34.419355,-45.600230,-32.938940,-100.000000,NaN

In [194]:
# export dataframe to csv
final_matrix.to_csv(r'../output_data/final_matrix.csv', index = False)